* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 1127px;
    margin: auto;
}

.topContainer{
    position: fixed;
    top:0px;
}

.icon{
    width: 50%;
    align-self: center;
}
.buttonBar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.topButton{
    background-color: transparent;
    font-family: 'Bebas Neue', cursive;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 200;
    cursor: pointer;
}

.logo{
    height: 3.5em;
    fill: #f8d16c;
}

#firstBackground{
    display: flex;
    flex-direction: column;
    background-image: url("background.svg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.landing{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.computerImage{


    padding: 1rem;
    display: inline-block;
}
.introText{
    width: 50%;
    display: inline-block;
}
.largeComputer{
    width: 450px;
    max-width: 100%;
    height: auto;

}

.mobileNav{
    width: 50%;
    align-self: flex-start;

}
.hamburger{
    display: none;
}


.heading{
    display: inline;
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    color: #f8d16c;
    line-height: 2;
    font-weight: 700;
    padding: 0;
    margin: 0px 0px 1rem;
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 80%, transparent 100% );
}

.subtitle{
    color: #ffffff;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    line-height: 2;
    font-size: 20px;
}

.projectPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectImg{
    width: 300px;
    height: auto;
    margin: auto;
}

#projects{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    border-bottom: 0.2em #f8d16c solid;
    padding-left: 0.8em;
    color: #3b3736;
    padding-right: 0.8em;
    padding-bottom: 0.3em;

}

.projectList{
    display: flex;
    flex-direction: row;
    width: 1127px;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.fourCol{
    width: 25%;
    text-align: right;
    padding: 1rem;
}

.header{
    color: #000000;
    display: inline;
    font-family: 'Playfair Display';
    font-size: 20px;
}

.projectList p {
    color: #999999;
    font-size: 16px;
    font-style: italic;
    line-height: 1em;
    margin-top: 0.5em;
}
.viewMore{
    padding: 14px;
}


.view{
    background-color: transparent;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.25em 1em;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    border: 2px solid #263146;
    color: #263146;
    transition: background-color 0.3s;
    cursor: pointer;
}

.view:hover{
    background-color: #f8d16c;
}

.blogPanel{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #ebebeb;
}

.blogHead{
    text-align: center;
}

#blog{
    align-self: center;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    border-bottom: 0.2em #f8d16c solid;
    padding-left: 0.8em;
    color: #3b3736;
    padding-right: 0.8em;
    padding-bottom: 0.3em;
}

.blogSubtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 1127px;
}

#lampImg{
    align-self: center;
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    width: 50%;
}

.blogInfo{
    width: 50%;
    align-self: center;
    text-align: center;
}
.lampImg{
    width: 300px;
    height: auto;
    margin: auto;
}

#blogInfo{
    font-size: 16px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height:1.4285em ;
}

.read{
    padding: 14px;
    text-align: center;
}
.readBut{
    background-color: transparent;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.25em 1em;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    border: 2px solid #263146;
    color: #263146;
    transition: background-color 0.3s;
    cursor: pointer;
}

.readBut:hover{
    background-color: #f8d16c;
}

.blueColorBack{
    background-color: #293b52;
}

.contactPanel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    width: 1127px;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    width: 50%;
}

.contactUsHeading{
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    padding-top: 28px;
    text-transform: uppercase;
}

.address{
    color: #ddd;
    line-height: 1.7;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 0 1em;
    font-size: 14px;
}

.aboutHeading{
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    padding-top: 28px;
    text-transform: uppercase;
}

.aboutInfo{
    color: #ddd;
    line-height: 1.7;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 0 1em;
    font-size: 14px;
}

.NoeMail{
    margin: 0 0 1em;
    line-height: 1.4285em;
    margin-left: 12px;
    color: #f8d16c;
}

footer{

    width: 100%;
    background-color: #263146;
    color: #ffffff;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    min-height: 6%;
    display: flex;
    align-items: center;
}

.backNumber {
    color: rgba(248, 209, 108, 0.5);
    font-size: 13em;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    align-self: center;
    transform: translate(23%, -35%);
}

.backNumber.two{
    transform: translate(23%, -38%);
}

.backNumber.three{
    transform: translate(33%, -26%);
}

.backNumber.four{
    transform: translate(33%, -22%);
}
#foot{
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    font-size: 14px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    max-width: 100% !important;
}

.No{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 23%;
}

.mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 23%;
}

.mailIcon{
    display: inline;
    height: 14px;
    width: auto;
    fill: white;
}

.phoneIcon{
    display: inline;
    height: 14px;
    width: auto;
    fill: white;
}

@media screen and (max-width: 1200px) {
    .contactPanel{
        margin-left: 1em;
        margin-right: 1em;
        width: 90vw;
    }

    .topbar{
        margin-left: 1em;
        margin-right: 1em;
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    .computerImage{
        display: none;
    }

    .hamburger{
        display: block;
        text-align: right;
        padding: 14px;
    }

    .introText{
        width: 100vw;
        margin-left: 14px;
    }

    .heading{

        font-size: 3rem;
    }

    #Layer_1{
        fill: #f8d16c;
        height: 35px;
        width: auto;
    }

    .icon{
        padding: 14px;
    }

    #firstBackground{
        background-color: #293b52;
        background-image: none;
    }

    .container{
        width: 100vw;
        max-width: 100%;
    }

    .buttonBar{
        display: none;
    }

    .projectList{

        width: 75vw;
        flex-wrap: wrap;
    }

    .fourCol{
        margin-top: 28px;
        margin-bottom: 28px;
        width: 100vw;
    }

    .blogSubtitle{
        width: 100vw;
        flex-wrap: wrap;
    }

    #lampImg{
        width: 75vw;
    }

    .blogInfo{
        width: 75vw;
    }

    .contactPanel{
        flex-direction: column-reverse;
        margin-left: 1em;
        margin-right: 1em;
        width: 90vw;
    }

    #foot{
        padding-left: 25px;
    }

    .backNumber{
        position: absolute;
    }

    .one{
        top: 10vw;
    }

    .No{
        width: 65%;
    }

    .mail{
        width: 60%;
    }
}
